<!DOCTYPE html>
<html>
<head>
  <title>GreatAnswers</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <a href="<%= root_path %>">Home</a>
  <a href="<%= hello_path %>">Hello</a>
  <%= link_to "Hello", hello_path %>
  <hr>
<%= yield %>

</body>
</html>
